PORT=
ADMIN_PASSWORD=
SUPER_ADMIN_PASSWORD=
TOKEN_SECRET=
ADMIN_ROLE=
SUPER_ADMIN_ROLE=
USER_ROLE=
DINAMIZADOR_ROLE=

MONGODB_URI=

GOOGLE_KEY_JSON_PATH=
SPREAD_SHEET_ID=
SHEET_NAME=
SHEET_NAME_USERS=
SHEET_NAME_CASES=

GOOGLE_CLIENT_EMAIL=
GOOGLE_EMAIL_PASSWORD=

FRONTEND_PROD_URL=
FRONTEND_DEV_URL=
FRONTEND_STG_URL=

GOOGLE_SERVICE_ACCOUNT_JSON=